.title {
  font-size: 26px;
  font-weight: 900;
  font-family:
    M PLUS 1p,
    var(--mantine-font-family);
}

.controls {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}
.linkText {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
  cursor: pointer;
  transition: color 0.2s ease;
  font-weight: 700;
}

.linkText:hover {
  color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-blue-3));
  text-decoration: underline;
}
